.meetup-top-section {
  padding: 15px 20px;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); */
  top: 0;
  z-index: 10;
}

.meetup-top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
